@charset "UTF-8";
body {
  background-color: #FFE5EC;
  background-size: 4px 4px;
  font-family: "Open Sans", "Avenie", sans-serif;
  font-weight: 300;
  color: black;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 0.1rem;
  box-shadow: inset 0 0 150px rgba(255, 194, 209, 0.4), inset 0 0 150px rgba(255, 194, 209, 0.3);
}

h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.7rem;
  text-shadow: 0.3rem 0.3rem 0 rgba(77, 73, 62, 0.3);
}

.navlist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar {
  float: left;
  margin-right: 10px;
  cursor: pointer;
  font: inherit;
  border: none;
  padding: 0.4rem 1rem;
  background-color: rgba(255, 194, 209, 0.35);
  color: black;
  box-sizing: content-box;
  position: relative;
  border: 1px solid transparent;
  border-left: none;
  border-right: none;

}

.navbar::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 3px;
  bottom: 3px;
  width: 0;
  background-color: #FFB3C6;
  transition: width 0.2s;
}
.navbar::after {
  content: "";
  display: none;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -4px;
}
.navbar:hover, .navbar:focus {
  background-color: transparent;
  border-color: #FFB3C6;
}
.navbar:hover::before, .navbar:focus::before {
  width: 100%;
}

.pattern {
  border-top: 2px solid #4d493e;
}

.container {
  padding: 0 4rem;
}

header {
  padding: 1rem 0;
}

.introname {
  border-bottom: 2px solid #48483c;
  font-weight: 600;
  font-size: 1.1rem;
}

.introcontainer {
  border-bottom: 1px solid #48483c;
}

.introicon {
  width: 40px;
  height: 40px;
  background: url("https://cdn.discordapp.com/attachments/337040974415003649/875847543458770954/nier-lessieur40px.png") center no-repeat;
  transform: scale(0.6);
}

.introtitle {
  font-weight: 500;
  font-size: 1.55em;
}

.introdes {
  font-weight: 500;
  padding-left: 2.5rem;
}

.introcont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.2em;
  margin-top: 2rem;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  align-items: center;
}

main {
  flex: 1;
  padding: 1rem 2rem;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.games {
  width: 300px;
  height: 300px;
}

.friends {
  width: 300px;
  height: 400px;
}

.content {
  padding-left: 4rem;
  background-image: linear-gradient(90deg, rgba(255, 179, 198, 0.2), rgba(255, 179, 198, 0.2) 14px, transparent 14px, transparent 20px, rgba(255, 179, 198, 0.2) 20px, rgba(255, 179, 198, 0.2) 23px, transparent 23px);
  margin-bottom: 2rem;
}

.title {
  text-align: center;
}

form {
  width: 550px;
  height: 440px;
  background: #FFE5EC;
  border-radius: 8px;
  box-shadow: inset 0 0 150px rgba(255, 194, 209, 0.4), inset 0 0 150px rgba(255, 194, 209, 0.3);
  margin: auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: "Open Sans", "Avenie", sans-serif;
  position: relative;
}
.head2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: black;
  border-bottom: 3px solid #FFB3C6;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Open Sans", "Avenie", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #FFB3C6;
}
input:focus {
  border-bottom: 2px solid #FFB3C6;
}
p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: black;
}
span {
  margin: 0 5px 0 15px;
}

a {
  text-decoration: none;
  color: black;
}

.ulback {
  background: #FFB3C6;
}

.logo {
  float: right;
  width: 45px;
  height: 45px;
}

.bot-overlay {
  padding: 1rem 2rem;
  background: rgba(255, 194, 209, 0.35);
  border-left: 0.8rem solid #FFB3C6;
  height: 100%;
}

.logofooter {
  width: 75px;
  height: 75px;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}